body {
	background-image: url(https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Patrick Hand', cursive;
}

/* Set the header to the middle of the page*/
h1 {
	text-align: center;
}



/* Set the main div that holds everything to flex with a border*/
#container {
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	width: 700px;
	margin: auto;
	height: 528px;
	opacity: .7;
}


header {
	width: 700px;
}

/* Increase font size for some of the text on the game board*/
.board-text {
	font-size: 20px;

}


#newGameBtn {
	font-size: 20px;
}

/*Increase font size for start and pause button*/
#startBtn, #pauseBtn{
	font-size: 30px;
	margin-left: 222px;
}


/* Style all buttons on game board with transitions on focus and hover*/
.button {
	padding: 0;
	margin: 0 10px;
	background: none;
	transition-property: background;
	transition-duration: .7s;
	
}

.button:focus {
	outline: none;
	box-shadow: none;
	background: rgb(45, 152, 181);
}


.button:hover:enabled {
	background: rgb(45, 152, 181);
}


/*////////////////////////////////////////////////////////*/


/* Styling the game squares */
.td .game-squares {
	width: 26px;
    height: 30px;
 	font-family: 'Anton', sans-serif;
}

/* Style numbers at the bottom of the page*/
.answerButton {
	height: 38px;
	margin: 5px 10px 10px;
 	background: rgb(45, 152, 181);
 	border: none;
 	transition-property: color box-shadow;
 	transition-duration: .7s;
}

.answerButton:hover {
	background: rgb(45, 152, 181);
	color: rgb(255, 248, 194);
	box-shadow: 8px 8px 14px rgb(255, 248, 194);
}

.game-squares {
	border: none;
	width: 26px;
	height: 30px;
	transition-property: border;
	transition-duration: .35s;
}


/* Style the outline that appears on the square when clicked on */
.game-squares:focus, .game-squares:hover {
	border: 2px dashed rgb(56, 88, 194);
	box-shadow: none;
}



/* Style td's width to match its height */
.td {
	width: 39px;
}



/* Space out mistakes and time display */
#mistakes-time {
	display: flex;
	width: 800px;
	justify-content: space-around;
	height: 40px;
}



/* Create thicker border every 3 columns and rows*/
tr:nth-of-type(3n) {
	border-bottom: 3px solid black;
}

tr {
	border-right: 3px solid black;
	border-left: 3px solid black;
}

tr:first-child{
	border-top: 3px solid black;
}

.table-bordered .td:nth-of-type(3n) {
	border-right: 3px solid black;
}

/*/////////////////////////////////////////////////////*/

/* Size and center the game board */
.tableTog {
	text-align: center;
	display: table;
}

/* Toggle display for the game table and paused message */
#paused-message, #times-up {
	font-size: 20px;
	display: none;
}

#timer, .pauseTog, .undoTog, .notesTog, .hintTog, .tableTog, .mistakeTog, .answerButton, #new-game-prompt {
	display: none;
}

.show-hide {
	display: inline;
}



/* Style for the greeting and paused message*/
#greeting, #paused-message, #times-up {
	font-size: 30px;
	margin: 115px 40px;
	color: rgb(45, 152, 181);
}

#new-game-prompt {
	font-size: 30px;
	margin: 90px 40px;
	color: rgb(45, 152, 181);
	text-align: center;
}
#promptYesBtn, #promptNoBtn {
	font-size: 30px;
}

#action-buttons {
	margin-top: 5px;
}

footer {
	margin-bottom: 10px;
}


