body {
	background-image: url(https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Patrick Hand', cursive;
}

/* Set the header to the middle of the page*/
h1 {
	text-align: center; 
}



/* Set the main div that holds everything to flex with a border*/
#container {
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	width: 700px;
	margin: auto;
	opacity: .7;
}

/* Increase font size for some of the text on the game board*/
.board-text {
	font-size: 20px;

}

#start-pause, #easy, #medium, #hard, #expert {
	padding: 0;
	margin: 0 10px;
}

/* Size and center the game board as well as hide it to start*/
#game-table {
	text-align: center;
	display: table;
	
}

/* Style td's width to match its height */
.td {
	width: 39px;
}



/* Space out mistakes and time display */
#mistakes-time {
	display: flex;
	width: 800px;
	justify-content: space-around;
}



/* Create thicker border every 3 columns and rows*/

tr:nth-of-type(3n) {
	border-bottom: 3px solid black;
}

tr {
	border-right: 3px solid black;
	border-left: 3px solid black;
}

tr:first-child{
	border-top: 3px solid black;
}

.table-bordered .td:nth-of-type(3n) {
	border-right: 3px solid black;
}

/*/////////////////////////////////////////////////////*/


/* Toggle display for the game table and paused message */
#game-table, #paused-message{
	font-size: 20px;
	display: none;
}



/* Style for the greeting */
#greeting, #paused-message {
	font-size: 30px;
	margin: 40px;
}





